.small-caps {
  font-variant: small-caps;
}

aside, .aside {
    display: inline;
    float: right;
    position: relative;
    width: 20vw;
    margin-right: -22vw;
    margin-top: 10px;
    font-size: smaller;
}

@media (max-width: 768px) {
  aside, .aside {
    display: block;
    float: none;
    margin: 5% 10% 5% 10%;
    width: 80%;
    font-size: 15px;
    }
}